on:
  push:
  pull_request:

name: Dockerfile validation

jobs:
  docker_validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: hadolint/hadolint-action@v3.3.0
        with:
          dockerfile: ./docker/Dockerfile
          no-fail: true
          ignore: DL3008
      - uses: hadolint/hadolint-action@v3.3.0
        with:
          dockerfile: ./ecs/Dockerfile
          no-fail: true
          ignore: DL3008
